:root {
    --orange-tua: #F26430;
    --orange-muda: #F69A79;
    --hitam: #5B6371;
}

/* Navbar */
.navbar .container .navbar-brand {
    color: var(--orange-tua);
    font-size: 3rem;
}

.navbar .container .navbar-nav .nav-item a {
    color: var(--hitam);
    transition: 400ms ease-in-out;
}

.navbar .container .navbar-nav .nav-item a:hover {
    color: var(--orange-tua);
}

.navbar .container .navbar-nav .nav-item .active {
    color: var(--orange-tua)
}

.warna-orange-muda {
    color: var(--orange-muda);
}

.hamburger-menu {
    width: 32px;
    height: 32px;
    stroke: var(--orange-tua);
    stroke-width: 3;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/* Jumbotron */
.border-radius-profile {
    border-radius: 50%;
    width: 200px;
}

.fw-600 {
    font-weight: 600;
}

.warna-orange-tua {
    color: var(--orange-tua);
}

/* Project Saya */
.card-animate {
    transition: 200ms ease-in-out;
}

.card-animate:hover {
    transform: scale(1.05);
}

.custom-card-link {
    color: var(--orange-tua);
}

.custom-card-link:hover {
    color: var(--orange-tua);
}

/* About Me */
.link-custom {
    color: var(--orange-tua);
    text-decoration: underline;
}

.link-custom:hover, .link-custom:visited {
    color: var(--orange-tua);
    text-decoration: none;
}

/* Footer */
.h1-footer {
    font-size: 3rem;
}

.footer-icon {
    width: 24px;
    height: 24px;
    stroke: var(--orange-tua);
    stroke-width: 2.5;
}